Package: pop-icon-theme
Version: 1.2.1
Architecture: all
Maintainer: Jeremy Soller <jeremy@system76.com>
Installed-Size: 64855
Conflicts: system76-pop-icon-theme
Section: gnome
Priority: optional
Homepage: https://github.com/system76/pop-icon-theme
Description: Pop Icons
